@use 'sass:color';

@use '@material/theme/color-palette';

$background: #000000;
$foreground: #F8F9FA;

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #F8F9FA,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: $background,
  $background: $background,
  $error: color-palette.$red-700,
);

@use '@material/button/mixins' as button;

.red-button {
  &.mdc-button {
    @include button.ink-color(color-palette.$red-600);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(color-palette.$red-600);
  }
  &.mdc-button--outlined {
    @include button.outline-color(color-palette.$red-600);
    @include button.ink-color(color-palette.$red-600);
  }
 
  @include button.ripple-states(color-palette.$red-600);
}

.my-primary-button {
  &.mdc-button {
    @include button.ink-color(#F8F9FA);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(#F8F9FA);
  }
  &.mdc-button--outlined {
    @include button.outline-color(#F8F9FA);
    @include button.ink-color(#F8F9FA);
  }
}

.my-teal-button {
  &.mdc-button {
    @include button.ink-color(color-palette.$teal-500);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(color-palette.$teal-500);
  }
  &.mdc-button--outlined {
    @include button.outline-color(color-palette.$teal-500);
    @include button.ink-color(color-palette.$teal-500);
  }
}